body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #1d2124;
    color: white;
    height: 70px;
}
.logo {
    order: 1;
}
.logo-image {
    display: inline-block;
    background-color: #171a1c;
    background-image: url("../image/logo.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    width: 68px;
    height: 70px;
}
.logo-text {
    vertical-align: top;
    padding: 21px 0;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-weight: bold;
}
ul.main-menu {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
    order: 1;
}
ul.main-menu li {
    display: inline-block;
    font-size: 15px;
}
ul.main-menu li a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: 25px 18px;
}
ul.main-menu li a:hover {
    text-decoration: underline;
}
.search {
    background-color: #171a1c;
    background-image: url("../image/search.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    width: 68px;
    height: 70px;
    order: 2;
}

.parallax {
    background-image: url("../image/html_css_homework_homework6_img_header-bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.shade {
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 375px;
}
.parallax h1 {
    margin: 0 0 45px;
    color: white;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
    padding-top: 95px;
}

.button {
    display: inline-block;
    width: 170px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 20px 0;
    border-radius: 8px;
    text-transform: capitalize;
    margin: 0 10px;
}

.button-green {
    background-color: #89ca62;
}

.button-blue {
    background-color: #14b9d5;
}

.container {
    background-color: #fff;
}

h2 {
    margin-top: 0;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #18b4cf;
    margin-bottom: 40px;
}
.info-block {
    padding: 60px 0;
}

.gallery {
    align-items: flex-start;
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gallery-column {
    flex-direction: column;
}
.image {
    background-color: #fff;
    display: block;
}
.image:not(:last-child) {
    margin-bottom: 25px;
}
.caption {
    padding: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    /*text-align: center; ??*/
}
.popular-posts {
    background-color: #f2f2f2;
}
.parallax2 {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "title" "divider" "logos";
    align-items: center;
    background-image: url("../image/img_parallax-bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 200px 0;
}
.headline {
    grid-area: title;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
    color: white;
    position: relative;
}
.company-logos{
    display: grid;
    grid-area: logos;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    width: 70%;
}
.divider {
    grid-area: divider;
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    margin: 45px auto;
}
.no-padding-bottom {
    padding-bottom: 0;
}
.top-rated {
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
}
.hot-news {
    display: grid;
    width: 1170px;
    margin: 0 auto;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
}
.col-1of4 {
    grid-column: span 1;
}
.col-3of4 {
    grid-column: span 3;
}
.col-2of4 {
    grid-column: span 2;
}
.image-with-caption-bottom {
    display: flex;
    flex-direction: column;
}
.image-with-caption-right {
    display: flex;
    flex-direction: row;
}
.hot-news-image {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}
.col-1of4 .hot-news-image {
    height: 210px;
}
.col-2of4 .hot-news-image {
    height: 258px;
}
.col-3of4 .hot-news-image {
    min-width: 480px;
}
.hot-news-caption {
    background-color: #f9f7f7;
    flex-grow: 1;
    padding: 30px 20px;
    text-align: right;
    font-size: 14px;
}
.hot-news-caption h4 {
    margin-top: 0;
    font-size: 16px;
}
.image-with-caption-bottom .hot-news-caption {
    padding: 10px 30px;
}
.text-center {
    text-align: center;
}
.text-center h4 {
    margin: 0;
}
footer {
    background-color: #000;
    padding: 20px 0;
    color: #fff;
    font-size: 13px;
    display: flex;
    justify-content: center;
}
footer .inner {
    width: 1170px;
    display: flex;
}
.footer-logo {
    display: flex;
}
.copyrights {
    flex-grow: 1;
}
.trademark {
    background-repeat: no-repeat;
}
.trademark-logo {
    width: 38px;
    height: 24px;
    background-image: url('../image/footer_trademark_logo.png');
}
.trademark-name {
    width: 64px;
    height: 16px;
    background-image: url('../image/liot.png');
}